<div class="p-8 max-w-5xl mx-auto">
  <h1 class="text-3xl font-bold text-[#c9d1d9] mb-8">Edit Article: <%= @kb_article.title %></h1>
  <div class="bg-[#161b22] border border-[#30363d] rounded-lg p-6">
    <%= render 'form' %>
  </div>
</div>
